@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');



html{
    background-image: linear-gradient(to right bottom, #bedfdf, #c5dbd3, #ccd7cc, #d1d2ca, #d1cfcb);
    background-size: cover;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
body{
    
    padding-left: 10%;
}
h1 {
    color:#59390c;
    font-size: 4rem;
    background-image: linear-gradient(to right, #8794b1, #9aa3bd, #acb3c9, #bfc3d5, #d1d4e1);
    padding-left: 20px;
}
ol{
    padding-left: 5%;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    
}