body{
    background-color: silver;
}
.cont{
    display: grid;
    background-color: black;
    height: 800px;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:5px
}
.element{
    height: 100%;
    width: 100%;
    background-color: azure;
    text-align: center;
    font-size: 4rem;
    line-height: 3.5;
    vertical-align: middle;
}
button{
    margin-left: 45vw;
    width: 10vw;
    height: 5vh;
    font-size: 2rem;
    margin-top: 5vh;
    border-radius: 20px;
    background-color: springgreen;
}


